@page
@model Torneo.App.Frontend.Pages.Partidos.CreateModel
@{
}   
<h1>Nuevo partido</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="partido.FechaHora"> Fecha y hora:</label>
        <input type="datetime-local" id="partido.FechaHora" name="partido.FechaHora">
    </div>
    <div class="form-group">
        <label for="Local">Equipo Local: </label>
        <select id="Local" name="Local" class="form-control">
            @foreach (var equipo in Model.Local)
            {
                <option value="@equipo.Id">@equipo.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Visitante">Equipo Visitante: </label>
        <select id="Visitante" name="Visitante" class="form-control">
            @foreach (var equipo in Model.Visitante)
            {
                <option value="@equipo.Id">@equipo.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-outline-info">Crear partido</button>
</form>
<a class="btn btn-outline-success" asp-page="./Index">Volver</a>